# Directorio de dependencias de Node.js
/node_modules

# Archivos de compilación de producción (generados por 'npm run build')
/dist

# Archivos de configuración y registro
.env
.env.local
.env.*.local
*.log

# Archivos de caché del sistema operativo y editores
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caché de Vite
.vite/